<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
  <div id="app">
    <ul>
      <!-- laço for, primeiro parametro = nome da var, segundo parametro = indice do array -->
      <li v-for="(cor, i) in cores">{{ i }} - {{ cor }}</li>
    </ul>

    <hr>

    <!-- for com template -->
    <template v-for="(cor, i) in cores">
      <h1>{{ cor }}</h1>
      <h2>{{ i }}</h2>
    </template>

    <hr>

    <!-- for em um array mais complexo -->
    <ul>
      <li v-for="pessoa in pessoas">
        nome: {{ pessoa.nome }}
        idade: {{ pessoa.idade }}
        peso: {{ pessoa.peso }}
      </li>
    </ul>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        cores: ['vermelho', 'cinza', 'verde', 'azul', 'roxo', 'preto'],
        pessoas: [
          { nome: 'ana', idade: 26, peso: 59},
          { nome: 'zé', idade: 46, peso: 99},
          { nome: 'peu', idade: 16, peso: 49}
        ]
      }
    })
  </script>
</body>
</html>