<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matador de monstro</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="http://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <template v-if="running">
            <div class="panel scores">
                <div class="score">
                    <h1>Jogador</h1>
                    <div class="life-bar">
                        <div class="life"
                            :class="{danger: playerLife < 20}"
                            :style="{width: playerLife + '%'}">
                        </div>
                    </div>
                    <div>{{ playerLife }}%</div>
                </div>
    
                <div class="score">
                    <h1>Monstro</h1>
                    <div class="life-bar">
                        <div class="life"
                        :class="{danger: monsterLife < 20}"
                        :style="{width: monsterLife + '%'}">
                    </div>
                    </div>
                    <div>{{ monsterLife }}%</div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="panel alert">
                <h1>Clique em novo jogo, e divirta-se!</h1>
            </div>            
        </template>

        <div v-if="hasResult" class="panel result">
            <div v-if="monsterLife == 0" class="win">VOCÊ GANHOU!!</div>
            <div v-else="playerLife == 0" class="lose">VOCÊ PERDEU!!</div>
        </div>

        <div class="panel buttons">
            <template v-if="running">
                <button 
                    class="btn attack"
                    @click="attack(false)">
                    Ataque
                </button>
                <button 
                    class="btn especial-attack"
                    @click="attack(true)">
                    Ataque especial
                </button>
                <button 
                    @click="healAndHurt" 
                    class="btn heal">
                    Curar
                </button>
                <button 
                    @click="running = false; logs = []" 
                    class="btn give-up">
                    Desistir
                </button>                
            </template>

            <button v-else @click="startGame" class="btn new-game">Novo jogo</button>
        </div>

        <div v-if="logs.length" class="panel logs">
            <ul>
                <li 
                    v-for="log in logs" 
                    class="log" 
                    :class="log.style">
                    {{ log.text }}
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>